.bblack {
    background-color: black;
}

.tyellow {
    color: #FFC300;
}

.heading {
    font-family: Quicksand;
    font-size: larger;
}

.sheading {
    font-size: 22px;
    font-family: Roboto;
    margin-left: 150px
}